.app {
  padding: 50px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  background: yellow;
  color: #000;
  padding: 10px;
  font-size: 5px 10px;
}

.buttons {
  margin-bottom: 15px;
}

.phrase {
  border-bottom: 1px solid transparent;
  border-radius: 0;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 0;
}

.definition {
  border-radius: 0px;
  border: 1px solid transparent;
  color: #888;
  font-size: 2em;
  font-style: italic;
  margin-top: 5px;
  margin: 0;
  outline: none;
  padding: 4px 8px;
  resize: none;
}

.definition.definitionFocused {
  border-color: #ddd;
}
