html {
    background-color: transparent !important;
}

.App {
    min-width: 800px;
}

.components-nav {
    border-bottom: 1px solid #eee;
    margin: 2em 0;
}
.components-nav ul {
    display: flex;
}

.components-nav li {
    padding: 10px;
}

.CardContent {
    padding: 10px;
}

/* Alerts are otherwise position: fixed */
.App .slds-notify-container {
    position: relative;
}
