/**
 * Quip's Live Apps Platform includes some top-level CSS that interferes with
 * DSR, this file attempts to correct that.
 */

html {
    background-color: transparent !important;
}

body,
input,
textarea,
button,
select,
option,
h1,
h2,
h3,
h4 {
    color: inherit;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
    padding: inherit;
}

button,
input[type="button"],
input[type="submit"] {
    min-width: 0;
}

button:active:not(:disabled),
input[type="button"]:active:not(:disabled),
input[type="submit"]:active:not(:disabled) {
    background-color: transparent;
    color: #005fb2;
}
