/**
 * Quip's Live Apps Platform includes some top-level CSS that interferes with
 * DSR, this file attempts to correct that.
 */

html {
    background-color: transparent !important;
    -webkit-font-smoothing: antialiased;
    background: white;
    height: 100%;
}

body,
input,
textarea,
button,
select,
option,
h1,
h2,
h3,
h4 {
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: none;
}

input,
select,
textarea,
button,
a {
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
    padding: inherit;
}

button,
input[type="button"],
input[type="submit"] {
    min-width: 0;
}

button:active:not(:disabled),
input[type="button"]:active:not(:disabled),
input[type="submit"]:active:not(:disabled) {
    background-color: transparent;
    color: #005fb2;
}
