/* Copyright 2019 Quip */
/*
 * These styles come from the prototype, and should eventually be migrated to .less files.
 * They are here instead usually because they need a cascading selector to override the SLDS styles.
 */

.warning .slds-resizable__divider {
    height: 100%;
}

.listview .slds-th__action {
    padding: 0;
    height: auto;
}

.listview-edit {
    position: absolute;
    top: 0px;
    left: 0rem;
    border-radius: 0;
    border: 0;
    z-index: 6000;
}
.listview-edit .slds-icon-action-refresh {
    background-color: transparent;
    padding: 0;
}
.listview-edit .listview-restore {
    margin-left: 8px;
}
.listview-edit .listview-restore svg {
    fill: LightGray;
}
.listview-edit .is-draft .slds-icon_container svg {
    fill: black;
}
.listview-edit .slds-form-element__label_edit {
    margin: 0;
}
.listview-edit .slds-form-element__label_edit {
    padding: 0;
}
