// Copyright 2017 Quip

// TODO(elsigh): Once RTBs support not allowing Bold we can remove this
:global .button-group-buttons button:nth-child(2) {
    opacity: 0.35;
    pointer-events: none;
}

:global .rich-text-box article .content {
    font-weight: bold;
}
