:root {
    --main-bg-color: #f3f2f2;
    --main-h-color: #5c6470;
    --main-label-color: #8d95a1;
    --main-border-radius: 5px;
    --highlight-color: #3d87f5;
    --light-gray: rgba(0, 0, 0, 0.08);
    --xxs: 0.25rem;
    --xs: 0.5rem;
    --s: 0.75rem;
    --m: 1rem;
    --l: 2rem;
}

.main {
    min-width: 800px;
}

@media screen and (max-width: 990px) {
    .main {
        min-width: 600px;
    }
}

@media screen and (max-width: 790px) {
    .main {
        min-width: 400px;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-height: 200px;
    padding: var(--m);
}

.config {
    border-radius: var(--main-border-radius);
}

.logo {
    max-width: 50px;
}

.margin-s {
    margin: var(--s);
}

.margin-m {
    margin: var(--m);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    min-width: 400px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
}

.modal > div {
    padding: var(--m);
}

.modal .header {
    text-align: center;
    color: var(--main-h-color);
    font-weight: 600;
    font-size: var(--m);

    box-shadow: 0px 1px 0px var(--light-gray);
}

.modal .body {
    box-shadow: 0px 1px 0px var(--light-gray);
}

.modal .footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--s);
}

.modal .footer button:not(:first-of-type) {
    margin-left: var(--s);
}

.dialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 301;
    top: 0;
    left: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box.horizontal {
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--m);
    margin-bottom: var(--m);
}

.input-box label {
    text-transform: uppercase;
    margin-bottom: var(--s);
    color: var(--main-label-color);
    font-size: var(--s);
    font-weight: 600;
}

.input-box input {
    width: 100%;
}

.input-box select {
    width: 100%;
    background-color: white;
    border: 1px solid rgb(var(--quipBorder));
    padding-left: var(--xs);
    padding-right: var(--xs);
    padding-top: var(--xxs);
    padding-bottom: var(--xxs);
    color: var(--main-h-color);
    border-radius: var(--xs);
}

/* Radio Group */
.radio-group {
    display: flex;
    width: 100%;
}

.radio-group > div {
    flex: 1;
    padding: var(--xs);
    border: 1px solid rgb(var(--quipBorder));
    border-right: none;
    color: var(--main-h-color);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.radio-group > div:first-child {
    border-top-left-radius: var(--xs);
    border-bottom-left-radius: var(--xs);
}

.radio-group > div:last-child {
    border-top-right-radius: var(--xs);
    border-bottom-right-radius: var(--xs);
    border-right: 1px solid rgb(var(--quipBorder));
}

.radio-group > div.radio-selected {
    background-color: var(--highlight-color);
    color: white;
}

/* Toggle */
.toggle-box {
    width: 42px;
    height: 24px;
    border-radius: 16px;
    background-color: var(--light-gray);
    position: relative;
    padding: 2px;

    cursor: pointer;
    transition: background-color 200ms;
}

.toggle-box.toggle-on {
    background-color: var(--highlight-color);
}

.toggle-command {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    transition: left 200ms;
}

.toggle-command.toggle-on {
    left: 20px;
}

/* Filter Row Item */
.filter-row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--s);
    padding-bottom: var(--s);
    padding-left: var(--m);
    padding-right: var(--m);
    border-bottom: 1px solid rgb(var(--quipBorder));
}

.filter-row-item .left .title {
    color: var(--main-h-color);
    margin-bottom: var(--xxs);
}

.filter-row-item .right {
    display: flex;
    align-items: center;
}

.filter-row-item .right .action {
    margin-left: var(--s);
    padding-right: var(--s);
    cursor: pointer;
}

.modal .body.scroll {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
}

button.destructive {
    background-color: rgb(var(--quipRed));
    color: white;
}

.empty-message {
    padding: var(--l);
    text-align: center;
}
