:root {
    --main-bg-color: #f3f2f2;
    --main-border-radius: 5px;
    --m: 1rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-height: 200px;
    padding: var(--m);
}

.config {
    border-radius: var(--main-border-radius);
}

.logo {
    max-width: 50px;
}

.margin-m {
    margin: var(--m);
}
