@import "../../shared/base-field-builder/common";
@import "../../shared/base-field-builder/error-popover";
@import "Common";

.App {
    background-color: @backgroundColor;
}

.loginRefreshing {
    background-color: @backgroundColor !important;
    border: 1px solid @borderColor;
}

.dashboardCachedImage {
    img {
        border: 1px solid @borderColor;
        margin: 0 auto;
        display: block;
    }
}
