.Dashboard .waveAsset .loading-analytics-container {
    background-color: #efefef !important;
    height: 100%;
}

.Dashboard .waveAsset,
.Dashboard .waveAsset > div,
.Dashboard .waveFrame {
    height: 100% !important;
}

.cacheImg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999;
}
