@keyframes pulse {
    0%,
    100% {
        background-color: yellow;
    }
    50% {
        background-color: red;
    }
}

.updatingRemote {
    opacity: 0;
    &.updatingRemoteInAction {
        animation: pulse 0.2s ease infinite;
        opacity: 1;
    }
}

.term {
    dt {
        font-size: 1.5em;
        font-weight: 600;
    }
    dd {
        margin: 0 0 1em 0;
    }
}
